apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'k8s-test'
        scrape_interval: 5s
        static_configs:
          - targets: ['k8s-test:9400']