apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "k8s-test.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "k8s-test.selectorLabels" . | nindent 6}}
  template:
    metadata:
      labels:
        {{- include "k8s-test.labels" . | nindent 8}}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
              - containerPort: {{ .Values.service.port }}